<%- include("navbar.ejs") %>


<style>
    .my_btn{
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 50px;
        font-size: 20px;
        background-color: white;
    }
    .my_active_btn{
        background-color: black;
        color: white;
    }
    a{
        text-decoration: none !important;
    }
</style>

<div class="container-fluid mt-5 bg-white p-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Admin List</h1>
        </div>
        

        <div class="col-md-12 mt-4">
            <table class=" table table-sm table-bordered">
                <tr>
                    <th></th>
                    <th>SN</th>
                    <th>Images</th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Password</th>
                </tr>
                <% for(i=0;i<admin.length;i++){ %>
                    <tr>
                        <td class="m-0" style="width: 100px;">
                                <a href="/admin/admin_details/<%=admin[i]['admin_id']%>">
                                    <button class="btn btn-primary btn-sm">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </a>
                                <a href="/admin">
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash w-100 p-0"></i>
                                    </button>
                                </a>
                        </td>
                        <td><%= i+1 %></td>
                        <td>
                            <img src="/uploads/admins_photos/<%= admin[i]['admin_img'] %>" width="150px">
                        </td>
                        <td><%= admin[i]['name'] %></td>
                        <td><%= admin[i]['email'] %></td>
                        <td><%= admin[i]['password'] %> </td>
                        
                    </tr>
                <% } %>
            </table>
        </div>

    </div>
</div>


<%- include("footer.ejs") %>