<%- include("navbar.ejs") %>

<div class="container p-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>All Sold Courses</h3>
        </div>
        <div class="col-md-12">
            <table class="table table-sm table-bordered">
                <tr>
                    <th>SN</th>
                    <th>User</th>
                    <th>Course</th>
                    <th>Date</th>
                    <th>Transaction</th>
                    <th>Amount</th>
                </tr>
                <% for(var i=0;i<sold_list.length;i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= sold_list[i].user_name %></td>
                        <td><%= sold_list[i].course_name %></td>
                        <td><%= sold_list[i].purchase_date %></td>
                        <td><%= sold_list[i].transaction_id %></td>
                        <td>&#8377;<%= sold_list[i].amount %>/-</td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div>


<%- include("footer.ejs") %>
